@model IEnumerable<IMS_SI.Models.Prescription>

@{
    ViewBag.Title = "ListOfPrescription";
    Layout = "~/Views/Shared/_NurseLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Prescription</li>
        <li class="active">List of Prescriptions</li>
    </ol>
</div>

<h2>List Of Prescription</h2>

@*<p>
    @Html.ActionLink("Create New", "AddPrescription", null, new { @class = "btn btn-primary" })
</p>*@
<table id="table_id" class="table">
    <thead>
        <tr>
            <th>
                Doctor Name
            </th>
            <th>
                Patient Name
            </th>
            <th>
                Date
            </th>
            <th>Action</th>
        </tr>
    </thead>
      @if (!Model.Any())
      {
        <tr>
            <td class="text-center" colspan="6">
                <h4>NO DATA AVAILABLE</h4>
            </td>
        </tr>
      }
      else
      {
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @item.PrescriptionAddDate.ToShortDateString()
            </td>
            <td>
                
                <a href="@Url.Action("ViewPrescription", new { id = item.Id })" class="fa fa-book" style="font-size: 19px; color: dodgerblue"></a> 
                
            </td>
        </tr>
        }
    </tbody>
      }

</table>

@*@section scripts {
    <script>$(document).ready(function () {
            $("#table_id").dataTable();
        });</script>
}*@